AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category/([^/\.]+)/?$ category.php?category=$1 [L]
RewriteRule ^product/([^/\.]+)/?$ product.php?id=$1 [L]
RewriteRule ^order/([^/\.]+)/?$ order.php?id=$1 [L]
RewriteRule ^branch/([^/\.]+)/?$ branch.php?id=$1 [L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex /admin/catalog.php